header h1 {font-size: 2.5em; margin: 0;}
header img { height: 2.5em; }
header a { display: flex; justify-content: left; align-items: center; color: #000; text-decoration: none; }
header {grid-area: header; }
article {grid-area: content;}
nav {grid-area: nav;}
footer {
  grid-area: footer;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}
body {
  background: #fffce6;
  min-height: 98vh;
  max-width: 98vw;
  margin: 1vh 1vw;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  list-style-type: none;
  flex-direction: row;
}
@media (min-width: 500px) {
  body {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "footer";
  }
}
@media (min-width: 700px) {
  body {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header nav"
      "content content"
      "footer footer"
  }
}
.stderr {background: #edd;}
.stdout {background: #ded;}
pre.console-output {
  max-width: 96vw;
  overflow: auto;
  border-spacing: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
}
pre.console-output time {font-weight: bold;}
.builds {
  font-family: monospace;
  font-size: 1.2em;
  width: 100%;
}
.builds .time {
  text-align: right;
  padding-right: 1.5em;
}
