<h2 class="{{.Status}}">
  Build of
  <a href="{{.ProjectLink}}">{{.Job.FullName}}</a>
  Revision
  <a href="">{{.Job.SHA}}</a>
</h2>
{{range .Results}}
  <div>
    <h3>Path</h3>
    {{.NixPath}}
    <h3>Stdout</h3>
    <pre class="console-output">
      <code class="shell">{{- .NixStdout -}}</code>
    </pre>
    <h3>Stderr</h3>
    <pre class="console-output">
      <code class="shell">{{- .NixStderr -}}</code>
    </pre>
    <h3>Error</h3>
    {{.NixError}}
  </div>
{{else}}
  {{if .Status | eq "pending"}}
    <div>
      This build is still running, check back later.
    </div>
  {{else}}
    <div>
      <h2>Stdout</h2>
      <pre class="console-output">
        <code class="shell">
          {{- .NixLogStdout -}}
        </code>
      </pre>
      <h2>Stderr</h2>
      <pre class="console-output">
        <code class="shell">
          {{- .NixLogStderr -}}
        </code>
      </pre>
    </div>
  {{end}}
{{end}}
