<h2>Builds for {{.Name}}</h2>
<table class="builds">
  <thead>
  <tr><th>Built</th><th>Commit</th></tr>
  </thead>
  <tbody>
    {{range .Builds}}
      <tr>
        <td class="time"><time>{{.ModTime | FormatTime}}</time></td>
        <td class="buildID"><a href="/builds/{{.Project}}/{{.ID}}">{{.ID}}</a></td>
      </tr>
    {{end}}
  </tbody>
</table>
