<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Scylla Continuous Integration</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/highlight-styles/github-gist.css">
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <header>
      <a href="/">
        <img src="/img/scylla.svg">
        <h1>Scylla</h1>
      </a>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </nav>
    <article>
      {{yield}}
    </article>
    <footer>
      <span class="copy">&copy; 2018 by manveru</span>
      <a href="https://builtwithnix.org"><img alt="built with nix" src="https://builtwithnix.org/badge.svg"/></a>
    </footer>
  </body>
</html>
